* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    margin: 25px;
    background: #fff1de;
}

.r {
    color: red;
}

ul.d {
    list-style-type: disc;
}

summary {
    padding: 5px;
    color: #30353b;
    background-color: #85dafe;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    width: 18px;
    height: 10px;
    margin-left: 15px;
    content: '';
    background: url('arrow.svg') no-repeat;
    background-size: cover;
    transition: 0.75s;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

details {
    padding: 3px;
    margin: 5px;
    /*cursor: pointer;*/
    background: #6ab6f4;
    border-radius: 2px;
}

details details {
    margin: 10px;
    background-color: #aaeeff;
    font-size: .9em;
}

details details p {
    margin: 10px;
    font-size: .9em;
}
