* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    margin: 20px;
    background: #c5f1ff;
}

.c {
    text-align: center;
}
.r {
    color: red;
}

h4 {
    margin: .75em;
}

hr {
    width: 99%;
    border: 1px solid black;
}

.redhr {
    width: 99%;
    border: 1px solid red;
}

ul.d {
    list-style-type: disc;
}

ul.d li {
    font-size: .9em;
}

details {
    position: relative;
    padding: 3px;
    margin: 5px;
    background: #aaedff;
    border-radius: 2px;
}

details details {
    margin: 10px;
    background-color: #95eaff;
    font-size: .9em;
}

details details p {
    margin: 10px;
    font-size: .9em;
}

details[open]>summary::after {
    transform: rotate(180deg);
}

summary {
    padding: 5px;
    color: #20252b;
    background-color: #85dafe;
    display: flex;
    list-style: none;
    align-items: center;
    border-radius: 2px;
    cursor: pointer;
}

summary::-webkit-details-marker {
    display: none;
}

summary::after {
    width: 18px;
    height: 10px;
    margin-left: 15px;
    content: '';
    background: url('arrow.svg') no-repeat;
    background-size: cover;
    transition: 0.75s;
}

/*DisplayExampleDiv*/
.ded{
    float: right;
    border: 3px solid silver;
    padding: 3px;
}