h1 {
	text-align: center;
}
hr{
	border-top: 1px dotted red;
}
fieldset{
	width: 500px;
	padding: 15px;
}
legend{
	font-weight: bold;
	padding: 5px;
}
label{
	min-width: 150px;
	float: left;
	clear: left;
}
input,label,select{
	float: left;
	margin: 2px 0 10px 3px;
}
input[type="color"],
input[type="text"]{
	width: 285px;
}
/*
Shapes:
line
curve
rect
circle
ellipse
polygon
polyline
text
pattern
g

:hover

fill
stroke
stroke-width
opacity
transform
filter
rx
ry
d
text-anchor
font-size
visibility
display

background-image: url('data:image/svg+xml;utf8,
<svg xmlns="http://www.w3.org/2000/svg" width="100" height="150">
	<polygon points="50,10 20,70 80,70" fill="green"/>
	<polygon points="50,30 15,100 85,100" fill="green"/>
	<polygon points="50,50 10,130 90,130" fill="green"/>
	<rect x="40" y="130" width="20" height="20" fill="saddlebrown"/>
</svg>');

*/
